# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
abseil-cpp=20211102.0=hd4dd3e8_0
accelerate=0.23.0=pypi_0
addict=2.4.0=pypi_0
aiohttp=3.8.5=py38h5eee18b_0
aiosignal=1.3.1=pypi_0
altair=5.1.1=pypi_0
annotated-types=0.5.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
appdirs=1.4.4=pypi_0
argh=0.26.2=pypi_0
arrow-cpp=11.0.0=hda39474_2
asttokens=2.4.0=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
aws-c-common=0.4.57=he6710b0_1
aws-c-event-stream=0.1.6=h2531618_5
aws-checksums=0.1.9=he6710b0_0
aws-sdk-cpp=1.8.185=hce553d0_0
backcall=0.2.0=pypi_0
backports-zoneinfo=0.2.1=pypi_0
blas=1.0=mkl
bleach=6.0.0=pypi_0
blessings=1.7=pypi_0
blinker=1.6.2=pypi_0
blis=0.7.11=pypi_0
boost-cpp=1.73.0=h7f8727e_12
bottleneck=1.3.5=py38h7deecbd_0
braceexpand=0.1.7=pypi_0
brotlipy=0.7.0=py38h27cfd23_1003
bzip2=1.0.8=h7b6447c_0
c-ares=1.19.1=h5eee18b_0
ca-certificates=2023.08.22=h06a4308_0
cachetools=5.3.1=pypi_0
catalogue=2.0.9=pypi_0
cchardet=2.1.7=pypi_0
certifi=2023.7.22=py38h06a4308_0
cffi=1.15.1=py38h5eee18b_3
cfgv=3.4.0=pypi_0
chardet=3.0.4=pypi_0
charset-normalizer=3.1.0=pypi_0
click=8.1.7=pypi_0
clip=1.0=pypi_0
cmake=3.26.1=pypi_0
comet-ml=3.33.6=pypi_0
confection=0.1.3=pypi_0
configobj=5.0.8=pypi_0
configparser=4.0.2=pypi_0
contexttimer=0.3.3=pypi_0
contourpy=1.1.1=pypi_0
cryptography=39.0.2=pypi_0
cudatoolkit=10.2.89=hfd86e86_1
cycler=0.11.0=pypi_0
cymem=2.0.8=pypi_0
datasets=2.12.0=py38h06a4308_0
decorator=5.1.1=pypi_0
decord=0.6.0=pypi_0
diffusers=0.21.1=pypi_0
dill=0.3.6=py38h06a4308_0
distlib=0.3.7=pypi_0
docker-pycreds=0.4.0=pypi_0
dulwich=0.21.6=pypi_0
einops=0.6.1=pypi_0
everett=3.1.0=pypi_0
executing=1.2.0=pypi_0
fairscale=0.4.4=pypi_0
filelock=3.12.4=pypi_0
flit-core=3.6.0=pyhd3eb1b0_0
fonttools=4.42.1=pypi_0
freetype=2.12.1=h4a9f257_0
frozenlist=1.4.0=pypi_0
fsspec=2023.9.1=pypi_0
ftfy=5.8=py_0
gflags=2.2.2=he6710b0_0
giflib=5.2.1=h5eee18b_3
gitdb=4.0.10=pypi_0
gitdb2=2.0.6=pypi_0
gitpython=3.1.37=pypi_0
glog=0.5.0=h2531618_0
gql=0.2.0=pypi_0
graphql-core=1.1=pypi_0
grpc-cpp=1.48.2=h5bf31a4_0
huggingface-hub=0.13.2=pypi_0
icu=58.2=he6710b0_3
identify=2.5.29=pypi_0
idna=2.8=pypi_0
imageio=2.31.3=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.0.1=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
iopath=0.1.10=pypi_0
ipython=8.12.2=pypi_0
jedi=0.19.0=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pypi_0
jpeg=9e=h5eee18b_1
jsonschema=4.19.0=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
kaggle=1.5.16=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.20.1=h568e23c_1
langcodes=3.3.0=pypi_0
lazy-loader=0.3=pypi_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.38=h1181459_1
lerc=3.0=h295c915_0
libboost=1.73.0=h28710b8_12
libbrotlicommon=1.0.9=h5eee18b_7
libbrotlidec=1.0.9=h5eee18b_7
libbrotlienc=1.0.9=h5eee18b_7
libcurl=8.2.1=h91b91d3_0
libdeflate=1.17=h5eee18b_0
libedit=3.1.20221030=h5eee18b_0
libev=4.33=h7f8727e_1
libevent=2.1.12=h8f2d780_0
libffi=3.4.2=h6a678d5_6
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libnghttp2=1.52.0=ha637b67_1
libpng=1.6.39=h5eee18b_0
libprotobuf=3.20.3=he621ea3_0
libssh2=1.10.0=h37d81fd_2
libstdcxx-ng=11.2.0=h1234567_1
libthrift=0.15.0=h0d84882_2
libtiff=4.5.0=h6a678d5_2
libwebp=1.2.4=h11a3e52_1
libwebp-base=1.2.4=h5eee18b_1
lightning-utilities=0.9.0=pypi_0
lit=16.0.0=pypi_0
lz4-c=1.9.4=h6a678d5_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.7.3=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py38h7f8727e_0
mkl_fft=1.3.1=py38hd3c417c_0
mkl_random=1.2.2=py38h51133e4_0
mmcv=1.7.1=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
multiprocess=0.70.14=py38h06a4308_0
murmurhash=1.0.10=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.0=pypi_0
nltk=3.5=pypi_0
nodeenv=1.8.0=pypi_0
numexpr=2.8.4=py38he184ba9_0
numpy=1.24.2=pypi_0
numpy-base=1.23.5=py38h31eccc5_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-ml-py3=7.352.0=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
oauthlib=3.1.0=pypi_0
omegaconf=2.3.0=pypi_0
opencv-python=4.7.0.72=pypi_0
opencv-python-headless=4.5.5.64=pypi_0
opendatasets=0.1.22=pypi_0
openssl=1.1.1w=h7f8727e_0
orc=1.7.4=hb3bc3d3_1
packaging=23.0=py38h06a4308_0
pandas=1.5.3=py38h417a72b_0
parso=0.8.3=pypi_0
pathtools=0.1.2=pypi_0
pathy=0.10.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.4.0=pypi_0
pip=23.0.1=py38h06a4308_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=3.10.0=pypi_0
plotly=5.17.0=pypi_0
portalocker=2.8.2=pypi_0
pre-commit=3.4.0=pypi_0
preshed=3.0.9=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.39=pypi_0
protobuf=4.22.1=pypi_0
psutil=5.6.7=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=12.0.1=pypi_0
pycocoevalcap=1.2=pypi_0
pycocotools=2.0.7=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=2.3.0=pypi_0
pydantic-core=2.6.3=pypi_0
pydeck=0.8.1b0=pypi_0
pygments=2.16.1=pypi_0
pyopenssl=23.0.0=pypi_0
pyparsing=3.1.1=pypi_0
pysocks=1.7.1=py38h06a4308_0
python=3.8.16=h7a1cb2a_3
python-box=6.1.0=pypi_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-magic=0.4.27=pypi_0
python-slugify=8.0.1=pypi_0
python-xxhash=2.0.2=py38h5eee18b_1
pytorch-lightning=2.0.9=pypi_0
pytz=2022.7=py38h06a4308_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0.1=pypi_0
re2=2022.04.01=h295c915_0
readline=8.2=h5eee18b_0
referencing=0.30.2=pypi_0
regex=2022.7.9=py38h5eee18b_0
requests=2.22.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
responses=0.13.3=pyhd3eb1b0_0
rich=13.5.2=pypi_0
rpds-py=0.10.3=pypi_0
safetensors=0.3.3=pypi_0
scikit-image=0.21.0=pypi_0
scipy=1.10.1=pypi_0
semantic-version=2.10.0=pypi_0
sentencepiece=0.1.99=pypi_0
sentry-sdk=1.9.0=pypi_0
setproctitle=1.3.2=pypi_0
setuptools=65.6.3=py38h06a4308_0
shortuuid=0.5.0=pypi_0
simplejson=3.19.1=pypi_0
six=1.16.0=pyhd3eb1b0_1
smart-open=6.4.0=pypi_0
smmap=5.0.0=pypi_0
smmap2=2.0.5=pypi_0
snappy=1.1.9=h295c915_0
spacy=3.6.1=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
sqlite=3.41.1=h5eee18b_0
srsly=2.4.8=pypi_0
stack-data=0.6.2=pypi_0
streamlit=1.27.0=pypi_0
subprocess32=3.5.4=pypi_0
sympy=1.11.1=pypi_0
tenacity=8.2.3=pypi_0
text-unidecode=1.3=pypi_0
thinc=8.1.12=pypi_0
tifffile=2023.7.10=pypi_0
timm=0.4.12=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.14.0=pypi_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
torch=2.0.0=pypi_0
torchaudio=2.0.1=pypi_0
torchmetrics=1.1.2=pypi_0
torchvision=0.15.1=pypi_0
tornado=6.3.3=pypi_0
tqdm=4.66.1=pypi_0
traitlets=5.10.0=pypi_0
transformers=4.34.0.dev0=pypi_0
triton=2.0.0=pypi_0
typer=0.9.0=pypi_0
typing-extensions=4.8.0=pypi_0
typing_extensions=4.7.1=py38h06a4308_0
tzlocal=5.0.1=pypi_0
urllib3=1.25.11=pypi_0
utf8proc=2.6.1=h27cfd23_0
validators=0.22.0=pypi_0
virtualenv=20.24.5=pypi_0
wandb=0.14.0=pypi_0
wasabi=1.1.2=pypi_0
watchdog=3.0.0=pypi_0
wcwidth=0.2.5=pyhd3eb1b0_0
webdataset=0.2.57=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.3.3=pypi_0
wheel=0.38.4=py38h06a4308_0
wrapt=1.15.0=pypi_0
wurlitzer=3.0.3=pypi_0
xxhash=1.4.3=pypi_0
xz=5.2.10=h5eee18b_1
yaml=0.2.5=h7b6447c_0
yapf=0.32.0=pypi_0
yarl=1.9.2=pypi_0
zipp=3.16.2=pypi_0
zlib=1.2.13=h5eee18b_0
zstd=1.5.2=ha4553b6_0
